.Name
{
    font-weight: 300;
    color: blue;
}
.School
{
    color: crimson;
}
.Total
{
    color: dartkmagenta;
}
.formatstyle{
    text-align: center;
    font-size: large;
}
.Score
{
    color: forestgreen;
}